.post-list {
  padding: 20px 0;
  background-color:#1e1e1e;
  height: 100%;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.post-card {
  display: block;
  padding: 20px;
  background-color: #1e1e1e;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.3s;
  border: 1px solid #333;
}

.post-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(97, 218, 251, 0.2);
}

.post-card h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
}

.post-card p {
  font-size: 0.95rem;
  color: #ccc;
}

.post-card small {
  color: #888;
}
.post-card img.post-cover {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
h2{
  color: #ffffff;
  margin-bottom: 1rem;
}